#app p{
    margin: 0px;
}
.pribor_panel{
    display: flex;
}
.pribor_item_place{
    display: flex;
    width: 650px;
    border: 1px solid;
    flex-wrap: wrap;
}


.right_side{
    display: flex;
    align-items: center;
}
.answer_blok,
.pribor_item{
    width: 100px;
    height: 100px;
    border: 3px solid;
    margin: 5px;
    padding: 3px;
    border-color: gray;
}
.answer_blok.win{
    border-color: green;
}
.answer_blok.wrong{
    border-color: red;
}