@font-face {
    font-family: 'Comic';
    src: url('./libs/Comic\ Sans\ MS.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0px;
    font-family:'Comic';
    transition: all 0.3s;
}
#app{
    font-family:'Comic';
    /*background-image: url('imgs/dedmoroz.png');
     background-repeat: no-repeat;
    background-position: center; */
    height: 100vh;
}

#app p{
    margin: 0px;
    
}
.game_field{
    display: flex;
}
.game_main_field_wrapper,
.onoff_field{
    /* height: 800px; */
    width: 1400px;
    flex: 1;
    min-width: 1400px;
    /* background-size: cover !important;
    background-repeat: no-repeat !important; */
}
.onoff_field{
    position: absolute;
    top: 0px;
    left: 0px;
}
.game_main_field_wrapper img,
.res_img{
    width: 100%;
}
.pribor_panel{
    display: flex;
    /* position: absolute; */
    bottom: 0px;
}
.pribor_item_place{
    display: flex;
    width: 620px;
    /* border: 1px solid; */
    flex-wrap: wrap;
    
}


.right_side{
    display: flex;
    align-items: center;
}
.middle_side{
    display: flex;
    align-content: center;
    align-items: center;

    font-size: 60px; 
}
.strow{
    font-size: 44px; 
}
.answer_blok,
.pribor_item{
    width: 100px;
    height: 100px;
    border: 3px solid;
    margin: 5px;
    padding: 3px;
    border-color: gray;
}
.answer_blok{
    margin: 0px;
}

.pribor_item img,
.answer_blok img{
    width: 100%;
}
.answer_blok.win{
    border-color: green;
}
.answer_blok.wrong{
    border-color: red;
}

.strow.win{
    color:green
}
.strow.wrong{
    color:red
}

.res_img{
    position: absolute;
    width: 1400px !important;
}
.left_nodebook_panel{
    /* width: 350px; */
    background-color: bisque;
    justify-content: space-between;
    /* height: 100vh; */
    /* padding: 0px 30px; */
    flex-direction: column;
    display: flex;
}
.checklist{
    padding: 0px 30px;
}

.checklist ul{
    padding: 10px;
}
.checklist li{
    cursor: pointer;
    
}
.checklist li:hover{
    text-shadow: 2px 2px 0px #ccc;
}
.ded_moroz_cloud{
    background-color: #fff;
    max-width: 50vw;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    right: 430px;
    top: 600px;
}
.dedmoroz_fon{
    width: 120%;
    transform: translate(-90px, 0px);
    /* position: absolute;
    z-index: 100;
    right: 0px;
    bottom: 0px;
    width: 30%; */
}
.dedmoroz_fon img{
    width: 100%;
}
